<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11011.0" newVersion="1.1.11011.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Reactive.Testing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11111.0" newVersion="1.1.11111.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.serviceModel>
      <bindings>
        <wsHttpBinding>
          <binding name="WSHttpBinding_DiversityMediaService" closeTimeout="00:03:00"
            openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864"
            messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
            <readerQuotas maxDepth="32" maxStringContentLength="67108864"
              maxArrayLength="67108864" maxBytesPerRead="4096" maxNameTableCharCount="67108864" />
            <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
            <security mode="None">
              <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
              <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
            </security>
          </binding>
          <binding name="WSHttpBinding_IMediaService4" closeTimeout="00:03:00"
            openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Mtom"
            textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
            <readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="67108864"
              maxBytesPerRead="4096" maxNameTableCharCount="67108864" />
            <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
            <security mode="None">
              <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
              <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://bsm5.snsb.info:9080/Service.svc" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_DiversityMediaService" contract="MediaServiceProxy.DiversityMediaService"
          name="WSHttpBinding_DiversityMediaService" />
        <endpoint address="http://bsm5.snsb.info:9090/DiversityMediaService4/MediaService4.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMediaService4"
          contract="MediaServiceProxy.IMediaService4" name="WSHttpBinding_IMediaService4">
          <identity>
            <servicePrincipalName value="host/WIN-TVB86KLOK6G" />
          </identity>
        </endpoint>
      </client>
    </system.serviceModel>
</configuration>