<?xml version="1.0" encoding="utf-8"?>

<!-- Weitere Informationen zur Verwendung der web.config-Transformation finden Sie unter http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DiversityService.DiversityService">
        <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://btn4nv38.inf.uni-bayreuth.de:7091/DiversityService.svc"
          binding="basicHttpBinding" bindingConfiguration="" contract="DiversityService.IDiversityService"/>
      </service>
    </services>
  </system.serviceModel>

</configuration>