<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DiversityCollection_BaseTestEntities" connectionString="metadata=res://*/DiversityCollection.csdl|res://*/DiversityCollection.ssdl|res://*/DiversityCollection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=141.84.65.107,5432;initial catalog=DiversityCollection_BaseTest;persist security info=True;user id=Rollinger;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>