<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DiversityCollection_BaseTestEntities" connectionString="metadata=res://*/DiversityCollection_Base.csdl|res://*/DiversityCollection_Base.ssdl|res://*/DiversityCollection_Base.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=141.84.65.107,5432;initial catalog=DiversityCollection_BaseTest;persist security info=True;user id=Rollinger;password=Rolli#2-AI4@UBT;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DiversityMobileEntities" connectionString="metadata=res://*/DiversityMobile.csdl|res://*/DiversityMobile.ssdl|res://*/DiversityMobile.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=141.84.65.107,5432;initial catalog=DiversityMobile;persist security info=True;user id=Rollinger;password=Rolli#2-AI4@UBT;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DiversityCollection_TestEntities" connectionString="metadata=res://*/DiversityCollection.csdl|res://*/DiversityCollection.ssdl|res://*/DiversityCollection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=141.84.65.107,5432;initial catalog=DiversityCollection_Test;persist security info=True;user id=Rollinger;password=Rolli#2-AI4@UBT;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DiversityService.Properties.Settings.DiversityCollection_TestConnectionString"
      connectionString="Data Source=141.84.65.107,5432;Initial Catalog=DiversityCollection_Test;Persist Security Info=True;User ID=Rollinger;Password=Rolli#2-AI4@UBT"
      providerName="System.Data.SqlClient" />
    <add name="DiversityService.Properties.Settings.DiversityMobileConnectionString"
      connectionString="Data Source=141.84.65.107,5432;Initial Catalog=DiversityMobile;Persist Security Info=True;User ID=Rollinger;Password=Rolli#2-AI4@UBT;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>