<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDiversityService" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7091/DiversityService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDiversityService"
                contract="ServiceReference.IDiversityService" name="BasicHttpBinding_IDiversityService" />
        </client>
    </system.serviceModel>
</configuration>