<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logMethod" xsi:type="MethodCall" className="DiversityPhone.Services.LogFile, DiversityPhone" methodName="LogLine">
      <parameter layout="${threadid}|${longdate}|${level:uppercase=true}|${event-context:item=Context}|${logger}|${message}{newline}${exception:format=tostring}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="logMethod" />
    <!--<logger name="*" minlevel="Debug" writeTo="logMethod" />-->
  </rules>
</nlog>